@model IEnumerable<MasonDatabase.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Applications", FormMethod.Get, new { @class = "col-md-2" }))
{
    <div class="form-group">
        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Search by Last Name or SSN" })
    </div>
    <button type="submit" class="btn btn-sm">Search</button>
}


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATMath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATVerbal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major.MajorOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.EnrollSem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollDecision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SATMath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SATVerbal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major.MajorOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.EnrollSem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollDecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                <a href="@Url.Action("Edit",  new { id = item.ID })">
                    <i class="glyphicon glyphicon-pencil" title="Edit" style="color: #006633"></i>
                    <span class="sr-only"></span> |
                </a>

                <a href="@Url.Action("Details",  new { id = item.ID })">
                    <i class="glyphicon glyphicon-list-alt" title="Details" style="color: black"></i>
                    <span class="sr-only"></span> |
                </a>
                <a href="@Url.Action("Delete", null,  new { id = item.ID })">
                    <i class="glyphicon glyphicon-remove" style="color:red" title="Delete"></i>
                    <span class="sr-only"></span>
                </a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=DateTime]').datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}

