@model MasonDatabase.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.ConcatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConcatSAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcatSAT)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.ConcatEnroll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcatEnroll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollDecision)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
