@model IEnumerable<MasonDatabase.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using(Html.BeginForm("Index", "ManageApplicants", FormMethod.Get, new {@class = "col-md-2"}))
            {
                <div class="form-group">
                    @Html.TextBox("Search", null, new { @class = "form-control", placeholder="Search Applications by Last Name or SSN" })
                </div>
                <button type="submit" class="btn btn-sm">Search</button>
            }

<table class="table">
    <tr>


        
        <th>
            @Html.DisplayNameFor(model => model.ConcatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ConcatSAT)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ConcatEnroll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollDecision)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>


    
    <td>
        @Html.DisplayFor(modelItem => item.ConcatName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubmitDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GPA)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.ConcatSAT)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.ConcatEnroll)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EnrollDecision)
    </td>
    
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
