<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <img src="~/Images/GMU_PLogo_KO+Gold.png"  height="100" width="154" alt="GMU Logo" class="left" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                cd /projects
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Application", "Index", "Applications")</li>
                    <li>@Html.ActionLink("Manage App", "Index", "ManageApplicants")</li>

                    <!--<li>@Html.ActionLink("List", "List", "Applications")</li>-->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
       

           
            <div id="footer_text">
                <img src="~/images/MasonM_KO.png" width="142" height="150" alt="GMU Logo" class="left" />
                <p class="goldFooter"><strong>PATRIOTS BRAVE &amp; BOLD</strong></p>


                <p> George Mason University <br /> 4400 University Drive <br /> Fairfax, Virginia 22030 <br /> Tel: 1(703)993-3100</p>
                <p>&copy; @DateTime.Now.Year - George Mason University</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
