@model IEnumerable<MasonDatabase.Models.Major>

@{
    ViewBag.Title = "Index";
}

<h2>Majors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MajorOption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MajorOption)
        </td>
        <td>
            <a href="@Url.Action("Edit",  new { id = item.ID })">
                <i class="glyphicon glyphicon-pencil" title="Edit" style="color: #006633"></i>
                <span class="sr-only"></span> |
            </a>

            <a href="@Url.Action("Details",  new { id = item.ID })">
                <i class="glyphicon glyphicon-list-alt" title="Details" style="color: black"></i>
                <span class="sr-only"></span> |
            </a>
            <a href="@Url.Action("Delete", null,  new { id = item.ID })">
                <i class="glyphicon glyphicon-remove" style="color:red" title="Delete"></i>
                <span class="sr-only"></span>
            </a>
        </td>
    </tr>
}

</table>
